/* brand color palette */
:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 0.70);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(204, 204, 204);
}

*{
    margin:0px;
    padding:0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 50px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
nav h1 {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
}

ul {
    display: flex;
    list-style-type: none;
    margin-inline: 30px;
    padding: 15px;
}

ul li { 
    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li a:hover {
    color: var(--dark); /* Change text color on hover */
    background-color: var(--primary); /* Optional: Change background color */
    text-decoration: underline;
}

header {
    background: var(--primary);
    padding: 1%;
    width:100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-1 {
    width: 10%;
    border-right: 3px solid var(--primary);
    padding-right: 1%;
    margin-right: 2%;
}

.col-2 {
    width: 80%;
    margin-left: 2%;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.feature {
    flex-grow: 2;
    margin: 20px;
    padding: 10px;
}
.feature img {
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 5px;
}

.feature summary {
    position: absolute;
    bottom: -200px;
    background-color: var(--tertiary);
    color: var(--light);
    padding: 1%;
    text-align: left;
    width: 50%;
    border-style: 10px solid var(--dark);
    border-radius: 3px;
}

.contacts ul li a {
    color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    margin-inline: 30px;
}

.project {
    width: 45%;
    margin: 1%;
    padding: 1%;
    text-align: left;
    position: relative;
}

.project:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transition: box-shadow 0.3s ease; /* Smooth transition */
    border-radius: 5px;
    background-color: var(--tertiary);
    color: var(--primary);
}
.project:hover h3 {
    color: var(--secondary);
    text-decoration: underline;
}
.project:hover img-overlay {
    display: block;
}

.overlay img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 47, 255, 0.5); /* Red color with 50% transparency */
    opacity: 0.5; /* Adjust opacity as needed */
}

.project h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.project img{
    width: 60%;
    height: auto;
    border-style: solid;
    border-radius: 5px;
}

.project summary {
    position: absolute;
    bottom: 30px;
    background-color: var(--tertiary);
    color: var(--light);
    padding: 1%;
    text-align: left;
    width: 50%;
    border-style: 10px solid var(--dark);
    border-radius: 3px;
}

footer {
    background: var(--primary);
    padding: 1%;
    width:100%;
    text-align: center;
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}